.container {
  padding: 10px;
}

.links {
  display: flex;
  list-style: none;
  align-items: center;
  margin: 0;
  padding: 0;

  li {
    a {
      text-decoration: none;
      color: black;
      font-size: 1.1rem;
      transition: color 0.3s;
      padding: 10px;
      background-color: white;
      box-shadow: 1px 1px 3px black;
      border-radius: 5px;

      &:hover {
        background: linear-gradient(
          to bottom right,
          rgb(97, 184, 241),
          rgb(231, 245, 255)
        );
      }

      &:active {
        background: linear-gradient(
          to bottom right,
          rgb(47, 162, 238),
          rgb(182, 223, 252)
        );
      }
    }
    padding: 10px;
  }
}
