table {
  width: 100%;
}

.mat-mdc-cell,
.mat-mdc-header-cell {
  padding: 8px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.mat-mdc-row .mat-mdc-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
  border-color: currentColor;
  background-color: rgb(231, 231, 231);
}

.mat-mdc-row:active .mat-mdc-cell {
  background-color: lightgray;
}
