form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 40px auto 0px;
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0.5px 0.5px 3px black;
}

mat-form-field {
  width: 100%;
}
