.container {
  padding: 20px;
}

.process-card {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
}

.tasksTitleContainer {
  display: flex;
  justify-content: left;
  align-items: center;

  h3 {
    margin-right: 10px;
  }

  mat-icon:hover {
    border-color: black;
    color: #004891;
    cursor: pointer;
  }

  mat-icon:active {
    color: #002850;
  }
}

.task-table {
  width: 100%;
  margin-top: 20px;
}

mat-header-cell,
mat-cell {
  padding: 8px;
  justify-content: center;
  align-items: center;
}

mat-icon {
  vertical-align: middle;
}

.mat-mdc-row:hover .mat-mdc-cell {
  border-color: currentColor;
  background-color: rgb(231, 231, 231);
  cursor: pointer;
}

.mat-mdc-row:active .mat-mdc-cell {
  background-color: lightgray;
}
