.container {
  max-width: 1600px;
  margin: 0 auto;
}

.task-table {
  width: 100%;
  margin-top: 20px;
}

mat-table {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  overflow: hidden;
}

mat-paginator {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}

mat-header-cell,
mat-cell {
  padding: 8px;
  justify-content: center;
  align-items: center;
}

mat-icon {
  vertical-align: middle;
}

.mat-mdc-row:hover .mat-mdc-cell {
  border-color: currentColor;
  background-color: rgb(231, 231, 231);
  cursor: pointer;
}

.mat-mdc-row:active .mat-mdc-cell {
  background-color: lightgray;
}

h2 {
  font-weight: normal;
  color: white;
}
